<%= form_for(@customer_email) do |f| %>
  <% if @customer_email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_email.errors.count, "error") %> prohibited this customer_email from being saved:</h2>

      <ul>
      <% @customer_email.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br />
    <%= f.text_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
