<p id="notice"><%= notice %></p>


	<% @conversation.messages.each do |m| %>
<h2><%= m.subject %></h2>
<p><%= time_ago_in_words(m.datetime) %> ago</p>

<p><% m.reply_to_addresses.each do |addy| %>
<%= addy.address %>
<% end %> </p>
<p><% m.from_addresses.each do |addy| %>
<%= addy.address %>
<% end %> </p>
<ul>
<% m.attachments.each do |a| %>
	<%= a.filename %>
<% end %>
</ul>
<%= link_to "Reply!", new_message_outgoing_message_path(m) %>
		<textarea rows="10" cols="100"><%= m.content %></textarea></p>
<hr/>
	<% end %>
