<p id="notice"><%= notice %></p>

<p>
  <b>Integer:</b>
  <%= @attachment.integer %>
</p>

<p>
  <b>String:</b>
  <%= @attachment.string %>
</p>

<p>
  <b>String:</b>
  <%= @attachment.string %>
</p>


<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
