<%= form_for([@customer,@order]) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :monogram %><br />
    <%= f.collection_select(:id, Monogram.all, :id, :description) %>
  </div>
  <div class="field">
      <%= f.label :customer_id %><br />
      <%= f.hidden_field :customer_id %>
     </div>
  <div class="field">
    <%= f.label :bride_name %><br />
    <%= f.text_field :bride_name %>
  </div>
  <div class="field">
    <%= f.label :groom_name %><br />
    <%= f.text_field :groom_name %>
  </div>
  <div class="field">
    <%= f.label :ceremony_date %><br />
    <%= f.datetime_select :ceremony_date %>
  </div>
  <div class="field">
    <%= f.label :ceremony_venue %><br />
    <%= f.text_field :ceremony_venue %>
  </div>
  <div class="field">
    <%= f.label :reception_venue %><br />
    <%= f.text_field :reception_venue %>
  </div>
  <div class="field">
    <%= f.label :reception_time %><br />
    <%= f.time_select :reception_time %>
  </div>
  <div class="field">
    <%= f.label :rsvp_date %><br />
    <%= f.date_select :rsvp_date %>
  </div>
  <div class="field">
    <%= f.label :rsvp_address %><br />
    <%= f.text_area :rsvp_address %>
  </div>
    <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
