<%= form_for([@order,@item]) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %><br />
    <%= f.collection_select :product_id, Product.all, :id, :description %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :quantity_ordered %><br />
    <%= f.select :quantity_ordered, (0..100) %>
  </div>
  <div class="field">
    <%= f.label :quantity_despatched %><br />
    <%= f.select :quantity_despatched, (0..100) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
