<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @item.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @item.price %>
</p>

<p>
  <b>Quantity ordered:</b>
  <%= @item.quantity_ordered %>
</p>

<p>
  <b>Quantity despatched:</b>
  <%= @item.quantity_despatched %>
</p>


